<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=GBK">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TravelAnt</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/mystyles.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap-social.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <script src="http://unpkg.com/vue@latest"></script>
    <script src="http://unpkg.com/vue-select@latest"></script>
</head>

<body>
    

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                {{#user}}
                <img class="img-circle" src="{{userImg}}"/>
                <div>
                    {{userName}}
                </div>
                {{/user}}
            </li>
            <li>
                <a href="/index">Home</a>
            </li>
            <li>
                <a href="/myfriends">My Friends</a>
            </li>
            <li>
                <a href="/settings">Settings</a>
            </li>
            <li class = "hidden">
                <a href="/help">Help</a>
            </li>
            <li>
                <a href="/">Log Out</a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="color:#FF6600">
                        <span class="sr-only">Toggle navigation</span><i class="fa fa-plus"></i>
                    </button>
                    <a class="navbar-brand" id="app-name" href="/index"><span style="padding-right: 10px;background-color: transparent;"><button type="button" id="menu-button">
                    	<i class="fa fa-bars"></i>
                    </button></span>TravelAnt</a>
                </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right title-add">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a href="/addTrip"><i class="fa fa-plane"></i> Add trip</a>
                        </li>
                        <li>
                            <a href="/addFriend"><i class="fa fa-user"></i> Add friend</a>
                        </li>
                    </ul>
                </div>
            <!-- /.navbar-collapse -->
            </div>
        <!-- /.container-fluid -->
        </nav>
    
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-10 page-content">
                    <h1>Add trip</h1>
                        <div class = "well well-lg well-form">
                            <form class="form-horizontal" method="get" action="/addT">
                                <fieldset>

                                <!-- TripName Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label" for="textinput">TripName</label>  
                                  <div class="col-md-4">
                                  <input id="textinput" name="tripName" type="text" placeholder="" class="form-control input-md" required>

                                  </div>
                                </div>

                                <!-- Destination Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label" for="textinput">Destination</label>  
                                  <div class="col-md-4">
                                  <input id="destination" name="destination" type="text" placeholder="" class="form-control input-md" required>
                                  </div>
                                </div>

                                <!-- Start Date Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label" for="startDate">Start Date</label>  
                                  <div class="col-md-4">
                                  <input id="startDate" name="startDate" type="date" class="form-control input-md" required>

                                  </div>
                                </div>

                                <!-- End Date Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label" for="enddate">End Date</label>  
                                  <div class="col-md-4">
                                  <input id="enddate" name="endDate" type="date" class="form-control input-md" required>

                                  </div>
                                </div>

                                <!-- Due Date Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label" for="enddate">Plan Due Date</label>  
                                  <div class="col-md-4">
                                  <input id="duedate" name="dueDate" type="date" class="form-control input-md">
                                  <p class="help-block hint">Default Due Date is the same with Start Date.</p>
                                  </div>
                                </div>
                                <!-- Invite Friends-->
                                <div id="invite-friends" class="form-group">
                                    <label class="col-md-4 control-label" for="enddate">Invite Friends</label> 
                                    <div class="col-md-4">
                                        <v-select class="v-select" multiple v-model="selected" :options="options"></v-select>
                                        <input id="selectedFriends" type="hidden" name="selectedFriends" :value="selected">
                                        <p class = "hidden">[{{#each myFriends}}'{{Name}}',{{/each}}]</p>
                                        {{#if myFriends}}
                                            <p class="help-block hint">Your friends will be invited automaticlly.</p>
                                        {{else}}
                                            <p class="help-block hint">Add a friend first.</p>
                                        {{/if}}
                                    </div>
                                </div>

                                <!-- Button (Double) -->
                                <div class="form-group text-center">                    
                                    <button id="Create" name="Create" type="submit" class="btn btn-primary">Create</button>
                                    <a href="/index" role="button" class="btn btn-danger">Cancel</a>       
                                </div>

                                </fieldset>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script>
//    $("#wrapper").toggleClass("toggled");
    $("#menu-button").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    
    </script>
    <script>
        Vue.component('v-select', VueSelect.VueSelect);
        new Vue({
          el: '#invite-friends',
          data: {
              selected: null,
              options: [{{#each myFriends}}'{{Name}}',{{/each}}]
          }
        });
    </script>
</body>
