<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TravelAnt</title>
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/mystyles.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap-social.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    
</head>

<body>
    

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                {{#user}}
                <img class="img-circle" src="{{userImg}}"/>
                <div>
                    {{userName}}
                </div>
                {{/user}}
            </li>

            <li>
                <a href="/index">Home</a>
            </li>
            <li>
                <a href="/myfriends">My Friends</a>
            </li>
            <li>
                <a href="/settings">Settings</a>
            </li>
            <li class = "hidden">
                <a href="/help">Help</a>
            </li>
            <li>
                <a href="/">Log Out</a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="color:#FF6600">
                        <span class="sr-only">Toggle navigation</span><i class="fa fa-plus"></i>
                    </button>
                    <a class="navbar-brand" id="app-name" href="/index"><span style="padding-right: 10px;background-color: transparent;"><button type="button" id="menu-button">
                        <i class="fa fa-bars"></i>
                    </button></span>TravelAnt</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right title-add">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/addTrip"><i class="fa fa-plane"></i> Add trip</a>
                    </li>
                    <li>
                        <a href="/addFriend"><i class="fa fa-user"></i> Add friend</a>
                    </li>
                </ul>
            </div>
            </div>
            <!-- /.navbar -->
        </nav>

        <div class="container activity"><i class="fa fa-chevron-left"></i> 
            <div class="row">
                {{#trip}}
                <div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-10 page-content">
                    <div class="back">
                        <a href="/index" role="button" class="btn"><i class="fa fa-chevron-left"></i> </a>
                    </div>
                    <br>
                    <h1>{{tripName}} {{#if unfinished}}<a href=/editTrip/{{_id}}><i class="fa fa-edit"></i></a>{{/if}}</h1>
                    <div class="row trip-detail-progress">
                        <div class="col-xs-12 col-sm-7 trip-detail">
                            <div class="trip-name"><h4>{{tripLocation}}</h4><br/></div>
                            <div class="trip-date"><h4>{{dateFormat tripStartDate 'll'}} - {{dateFormat tripEndDate 'll'}}</h4></div>
                        </div>
                        {{#if unfinished}}
                        <div class="col-xs-12 col-sm-5 trip-progress">
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; float:right;">
                                </div>
                            </div>
                            <div class="trip-due">
                                <i>Due {{dateFormat voteDue 'll'}}</i>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <div class="trip-member">
                        {{#each _participants}}
                        <img src="{{imgURL}}" class="img-circle">
                        {{/each}}
                        <a href="#" class="invisible"><i class="fa fa-chevron-down profile-down"></i></a>
                    </div>
               {{/trip}}
                    
                 {{#trip}}
                    {{#if unfinished}}
                    <div class="addButton">
                        <ul>         
                            <button type="button" class="btn btn-warning btn-addtrip" data-toggle="modal" data-target="#myModal"> Add an activity</button>
                        </ul>
                    </div><br>
                    {{/if}}
                    {{/trip}}
                    
                    
                    <div class="activity-list">
                        {{#if unfinished}}
                            {{#if hasActivity}}
                                
                                    {{#each activities}}
                                    <ul>
                                        <div class="well well-lg activity-item">
                                            <div class="row">
                                                <div class="col-xs-0 col-sm-3">
                                                    <a href = "{{yelpUrl}}">
                                                        <img src="{{activityImg}}" class="img-rounded activity-img"></img>
                                                    </a>
                                                </div>
                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="activity-content">
                                                        <a href = "{{yelpUrl}}"><h3>{{activityName}}</h3></a>
                                                        <a href="{{yelpUrl}}"><i class='fa fa-external-link yelplink'></i></br></a>
                                                        <div class="activity-comment">
                                                            <i class="fa fa-quote-left"></i>
                                                            <a href = "{{yelpUrl}}"><h4>{{activityComments}}</h4></a>
                                                            <i class="fa fa-quote-right"></i>
                                                        </div>
                                                        <div class="activity-vote" id={{_id}}>
                                                            <a><i class="fa fa-arrow-up {{#if voted}}{{else}}disabled{{/if}}"></i> </a>
                                                            <span class="activity-vote-num">{{activityVotes}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                    {{/each}}
                                
                            {{else}}
                                    <div class="noActivity">You don't have any activities. </br>Add some into your Trip!</div>
                            
                            {{/if}}
                        
                        {{else}}
                            {{#each activities}}
                            <ul>
                                <div class="well well-lg activity-item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href = "{{yelpUrl}}">
                                                <img src="{{activityImg}}" class="img-rounded activity-img"></img>
                                            </a>

                                        </div>
                                        <div class="col-xs-12 col-sm-9">
                                            <div class="activity-content">
                                                <a href = "{{yelpUrl}}"><h3>{{activityName}}</h3></a>
                                                <a href="{{yelpUrl}}"><i class='fa fa-external-link yelplink'></i></br></a>
                                                <div class="activity-comment">
                                                    <i class="fa fa-quote-left"></i>
                                                    <a href = "{{yelpUrl}}"><h4>{{activityComments}}</h4></a>
                                                    <i class="fa fa-quote-right"></i>
                                                </div>
                                                <div class="activity-vote" id={{_id}}>
                                                    <span class="activity-vote-num">{{activityVotes}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                            {{/each}}                 
                        {{/if}}
                
                
                        
                </div>
               
                </div>
            </div>
            <div id="myModal" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Activity</h4>
                              </div>
                              <div class="modal-body">
                                <form id="addActivity" role="form" >
                            
                                    <div class="form-group">
                                      <label for="city">City:</label>
                                      <input type="text" class="form-control" id="location" placeholder="City" name="location">
                                    </div>
                                    <div class="form-group">
                                      <label for="activity">Activity:</label>
                                      <input type="text" class="form-control" id="term" placeholder="Activity" name="term">
                                    </div>
                                    <input type="hidden"  name="tripID" value={{trip._id}}></input>
                                    <button id="searchforyelp" type="button" class="btn btn-default">Search</button>
                                </form>
                        
                                <div class = "showresult"></div>
                            </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>

                          </div>
            </div>
        
        </div>
</div>

    
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

   
    <script>
    $(document).ready(function() {
	   {{#each activities}}
        console.log({{voted}});
        {{/each}}
    });
        
    $(".fa-arrow-up").click(function(e){
        e.preventDefault();
        var votes = $(this).parent().next();
        var votes_num = votes.text();
        
        if ($(this).hasClass("disabled")){
            votes_num = parseInt(votes_num) + 1;
            $(this).removeClass("disabled");
        }
        else{
            votes_num = parseInt(votes_num) - 1;
            $(this).addClass("disabled");
        } 
        
        console.log($(this).closest('.activity-vote').attr('id'));
        
        $.get("/vote", {'activityID': $(this).closest('.activity-vote').attr('id'), 'voteNum': votes_num});
        
        votes.text(votes_num); 
      });

    $("#menu-button").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script>
    $("#searchforyelp").click(function(e){
        e.preventDefault();

        var location = $('#addActivity #location').val();
        var term = $('#addActivity #term').val();
        
        var json = {
            'location': location,
            'term': term
        };
        $.post('/searchYelp', json, function(res) {
        
            var new_html = '';
            
            if(res.hasOwnProperty("data")) {
                console.log("no search result");
                new_html = '<div align = "middle" ><h3 align = "middle" class="card-title" style="margin-bottom: 10px; margin-top: 0px;">No Search Result</h3></div>';
            }
            else {
                for(var i = 0; i < Math.min(10,res["businesses"].length); ++i) {
                    var idd = "plus"+i;
                    var imglink = "/img/icon.jpg";
                    var urllink = '/plan/'+"{{trip._id}}";
                    var activityname = "";

                    if(res["businesses"][i].hasOwnProperty("image_url")) {
                        imglink = res["businesses"][i]["image_url"];
                    }
                    if(res["businesses"][i].hasOwnProperty("url")) {
                        urllink = res["businesses"][i]["url"];
                    }
                    if(res["businesses"][i].hasOwnProperty("name")) {
                        activityname = res["businesses"][i]["name"];
                    }

                    new_html = new_html +' <div align = "middle" ><a href='
                    +urllink+' target="_blank"><img align = "middle" class="img-rounded" src='+imglink+' style = "width:40%;" ></a><button id="'+idd+'"' +' type="button" class="btn btn-default addAct">+</button>'+ '<a href='+urllink
                    +' target="_blank"><h5 align = "middle" class="card-title" style="margin-bottom: 10px; margin-top: 0px;">'
                    +activityname+'</h5></a></div>';
                }
            }
            console.log("Searched...");
            var details_div = $('.showresult');
            details_div.html(new_html);
            //for(var j = 0; j < 10; ++j) {
                $(".addAct").click(function(e){
                    e.preventDefault();
                    var id = parseInt($(this).attr("id").substring(4));
                    var imglink = "/img/icon.jpg";
                    var urllink = '/plan/'+"{{trip._id}}";
                    var activityname = "";
                    var activitycomments = "";

                    if(res.hasOwnProperty("businesses")) {
                        if(res["businesses"][id].hasOwnProperty("image_url")) {
                            imglink = res["businesses"][id]["image_url"];
                        }
                        if(res["businesses"][id].hasOwnProperty("url")) {
                            urllink = res["businesses"][id]["url"];
                        }
                        if(res["businesses"][id].hasOwnProperty("name")) {
                            activityname = res["businesses"][id]["name"];
                        }
                        if(res["businesses"][id].hasOwnProperty("snippet_text")) {
                            activitycomments = res["businesses"][id]["snippet_text"];
                        }

                    }
                    var activityImg = imglink;
                    var activityName = activityname;
                    var yelpUrl = urllink;
                    var tripID = "{{trip._id}}";
                    var activityComments = activitycomments;

                    console.log("debug",tripID);
                
                    var jsonadd = {
                        'activityImg': activityImg,
                        'activityName': activityName,
                        'yelpUrl': yelpUrl,
                        'tripID': tripID,
                        'activityComments':activityComments
                    };


                    $.post('/addtoDB', jsonadd, function() {
                        var to = '/plan/'+tripID;
                        console.log("debug",tripID);
                        window.location.href = to;
                    });
                });
            //}
        });
    });

    </script>

</body>
